@use "../abstracts/" as a;

.button {
  display: block;
  background-color: transparent;
  color: white;
  font-weight:600;
  border-left: 2px solid white;
  border-right: 2px solid white;
  font-size: .9rem;
  width: 100%;
  padding: 1rem;
  margin-top: 10rem;
  text-align:center;
  font-family:a.$ff-head;
  letter-spacing: .5rem;
  transition:.5s;
  
  &:hover{
    background-color: a.$clr-light;
    color:a.$clr-dark;
    border-left: 2px solid  a.$clr-light;
    border-right: 2px solid  a.$clr-light;
   
}
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, #BF953F, #FCF6BA, #B38728);

}
.mobile-nav-toggle{
  cursor: pointer;
}