@use "../abstracts/" as a;

.button {
  display: block;
  background-color: transparent;
  color: white;
  border-left: 2px solid white;
  border-right: 2px solid white;
  font-size: .9rem;
  width: 100%;
  padding: 1rem;
  margin-top: 10rem;
  text-align:center;
  font-family:a.$ff-head;
  letter-spacing: .5rem;
&:hover{
    background-color: #fff;
    color:black;
}
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
}
.mobile-nav-toggle{
  cursor: pointer;
}