@use "../abstracts/" as a;

.text-container{
  padding-top: 3rem;
    text-align: justify;
    line-height:1.5;
    letter-spacing:.2rem;
    span{
      padding-bottom:.2rem;
      border-bottom:5px solid transparent;
      @include a.min-sm{
      
      &:hover{
        border-bottom: 5px solid;
        border-image-slice: 1;
        border-width: 5px;
        border-image-source: -webkit-linear-gradient(45deg, #bf953f, #fcf6ba);
      }
    }
     
    }
    @include a.max-sm{
      text-align:start;
    }
    p{
    font-size:1rem;
    font-family: a.$ff-head;
  }
  }

.link-container{
  width:100%;
  height:200px;
}


.input-container {
  border-bottom: 3px solid rgb(255, 255, 255);
}


.icon-container{
width:80%;
margin:0 auto;
gap:2rem;
padding:1rem;
@include a.center-content
}
.border{
    border:2px solid white;
  }

.img-container{

}
