@use "../abstracts/" as a;

.text-container{
    text-align: justify;
    line-height:1.5;
    p{
    font-size:1rem;
    font-family: a.$ff-head;
  }
  }

.link-container{
    grid-area: 'image';
    padding-block:6rem;
    @include a.max-md {
        padding-block:2rem;
    
        }
}
.text-container{
    padding-block:6rem;
    grid-area: 'text';
    @include a.max-md {
        padding-block:2rem;
    
        }
}



.border{
    border:2px solid white;
  }