.icon-container{
    width:100%;
    height:90%;
    @include a.center-content;
    
    .dark-icon, .light-icon{
      width:50%;
      height:50%;
      background: center/cover no-repeat  url(../images/avatar.png);
    }
}