@font-face {
  font-family: 'NeutralFace';
  src: url(../assets/fonts/NeutralFace.otf) format('opentype');
}
@font-face {
  font-family: 'NeutralFaceBold';
  src: url(../assets/fonts/NeutralFace-Bold.otf) format('opentype');
}

h1,
h2,
h3,
p,
span {
  font-family: 'NeutralFace';
}
