@use "../abstracts/" as a;

.flex-container {
  width: 80%;
}
.img-container {
  margin: 0 auto;
  width: 200px;
  aspect-ratio: 1;
  span {
    font-size: 0.5rem;
  }
  @include a.min-sm {
    width: 250px;
  }

  img {
    position: relative;
    display: block;
    margin-top: 2rem;
    width: 100%;
    aspect-ratio: 1;
    border: 5px solid black;
    object-fit: cover;
    transition: 0.5s;

    @include a.min-sm {
      filter: grayscale(100%);

      &:hover {
        filter: none;
      }
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
  .circle {
    position: fixed;
    border: 1px solid greenyellow;
    z-index: 1;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  p {
    text-align: center;
  }
}

.about {
  .text-container {
    padding-top: 6rem;
    width: 50%;
    margin: 0 auto;
  }
}
