@use "../abstracts/" as a;

.portfolio {
  .link-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    border: 1px solid white;
    transition: 2s;
    grid-area: "image";
    @include a.min-md {
      width: 0px;
    }
  }

}
.img-portfolio {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.2rem;
  @include a.min-md {
    width: 1px;
    aspect-ratio: 1;
    clip-path: circle(50% at 50% 50%);
    transition: 2s;
  }
}

.img-portfolio1 {
  background-color: rgba(190, 71, 71, 0.507);
  .fas {
    color: rgb(255, 38, 0);
  }
}
.img-portfolio2 {
  background-color: rgba(121, 216, 77, 0.507);
  .fas {
    color: rgb(60, 255, 0);
  }
}
.img-portfolio3 {
  background-color: rgba(48, 70, 196, 0.507);
  .fas {
    color: rgb(0, 68, 255);
  }
}

.link-container1 {
  background: center/cover no-repeat url("../images/journal.png");
}

.link-container2 {
  background: center/cover no-repeat url("../images/bbq.png");
}

.link-container3 {
  background: center/cover no-repeat url("../images/portfolio.png");
}

.work-container {
  width: 80%;
  margin: 8rem auto;

}
.project-container {
  margin-block: 3rem;
  filter: grayscale(100%);
  transition: 1s;
  @include a.min-md {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 200px 400px minmax(200px, 800px);
    grid-template-areas: "header image text";
    gap: 2rem;

    &:hover .link-container {
      width: 400px;
    }
    &:hover .img-portfolio {
      width: 400px;
      height: 200px;
    }
  }
  &:hover {
    filter: grayscale(0);
  }

  img {
    width: 100%;
  }

  .project-header {
    font-size: 1.5rem;
    grid-area: "header";
    @include a.min-md {
      width: 1px;
      height: 200px;
    }

    @include a.max-md {
      padding-block: 2rem;
    }
    @include a.min-md {
      padding: 0;
    }
    span {
      font-size: small;
      display: block;
      padding-top: 1rem;
    }
  }

    .text-container {
      padding-top: 3rem;
      @include a.min-md {
        padding-top: 0;
      }
    }
  }
  a {
    transition:.5s;
    &:hover {
      transform: scale(1.5);
    }
  }

  