@use "../abstracts/" as a;

.portfolio {
  .link-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    border: 1px solid a.$clr-main;
    transition: 2s;
    grid-area: "image";
    @include a.min-md {
      width: 0px;
    }
  }

}
.img-portfolio {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.2rem;
  @include a.min-md {
    width: 1px;
    aspect-ratio: 1;
    clip-path: circle(50% at 50% 50%);
    transition: 2s;
  }
}

.img-portfolio {
  background-color:  a.$clr-main-light;
  .fas {
    color: black;
  }
  @include a.min-sm {
  a {
    transition:.5s;
    &:hover:not(.button) {
      transform: scale(1.5);
    }
  }
}
}


.link-container1 {
  background: center/cover no-repeat url("../images/journal.png");
}

.link-container2 {
  background: center/cover no-repeat url("../images/bbq.png");
}

.link-container3 {
  background: center/cover no-repeat url("../images/portfolio.png");
}

.work-container {
  width: 80%;
  margin: 0 auto;

}
.project-container {
  margin-block: 3rem;
  transition: 1s;
  @include a.min-md {
    
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 200px 400px minmax(200px, 800px);
    grid-template-areas: "header image text";
    gap: 2rem;
    filter: grayscale(100%);

    &:hover .link-container {
      width: 400px;
    }
    &:hover .img-portfolio {
      width: 400px;
      height: 200px;
    }
    &:hover {
      filter: grayscale(0);
    }
    a {
      transition:.5s;
      &:hover:not(.button) {
        transform: scale(1.5);
      }
    }
  }
 

  img {
    width: 100%;
  }

  .project-header {
    font-size: 1.5rem;
    grid-area: "header";
    @include a.min-md {
      width: 1px;
      height: 200px;
    }

    @include a.max-md {
      padding-block: 2rem;
      
    }
    @include a.min-md {
      padding: 0;
      
    }
    span {
      font-size: small;
      display: block;
      padding-top: 1rem;
    }
    .icon-container{
      display:none;
      width:4rem;
    margin-left:8rem;
      transform:rotate(-90deg);
      @include a.min-md {
       display:block;
        
      }
    }
  }

    .text-container {
      padding-top: 3rem;
      @include a.min-md {
        padding-top: 0;
      }
    }
  }


  