@use "../abstracts/" as a;

.stack {
  .sub-header {
    border: none;
    line-height: 1.5;
    margin-top: 4rem;
    font-size: 1.5rem;
    font-weight: lighter;
  }
  .flex-container{
    width:300px;
    border-left: 2px solid a.$clr-main;
    border-right: 2px solid a.$clr-main;
  }

  .img-container {
    position: relative;
    width: 200px;
    height:100px;
    border-left: 2px solid a.$clr-main;
    border-right: 2px solid a.$clr-main;
    transition: 1s ease;
    p {
      position: sticky;
      left: 20%;
      top: 55%;
      z-index: -1;
    }
    
    margin-block: 1rem;

  
  }
}
