@use "../abstracts/" as a;

.stack {
  .sub-header {
    border: none;
    line-height:1.5;
    margin-top: 4rem;
    font-size: 1.5rem;
    font-weight: lighter;
  }

  .img-container {
    width: 200px;
    border-left: 2px solid white;
    border-right: 2px solid white;

    @include a.center-content;
    margin-block: 1rem;
    overflow: hidden;
    transform: rotateY(180deg);
                         

    &:hover {
      transform: rotateY(0);
      background-color: white;
    }
    &:hover p {
      transform: scale(1.6);
      transition: 1s ease;
      color: black;
    }
  }
}
