@use '../abstracts/' as a;

.stack {
  .sub-header {
    width: 100%;
    border: none;
    font-size: 1.5rem;
    font-weight: lighter;
  }
  h2 {
    text-align: center;
  }
  .flex-container {
    max-width: 300px;
    border-left: 5px solid;
    border-right: 5px solid;
    border-top: none;
    border-bottom: none;
    border-image-slice: 1;
    border-width: 1px;
    padding-block: 3rem;
  }

  .img-container {
    position: relative;
    width: 200px;
    height: 100px;
    color: a.$clr-light;
    border-left: 5px solid;
    border-right: 5px solid;
    border-image-slice: 1;
    border-width: 1px;
    transition: 1s ease;
    filter: grayscale(0);

    p {
      text-align: left;
      background-color: #cf7fd1;
      position: sticky;
      top: 55%;
      z-index: -1;
      padding: 1rem;
      color: black;
    }
    #bootstrap {
      width: 80%;
    }
    #react {
      width: 90%;
    }
    #scss {
      width: 80%;
    }
    #node {
      width: 60%;
    }
    #react-native {
      width: 80%;
    }
    margin-block: 1rem;
  }
}
