@mixin round {
  border-radius: 50%;
}

@mixin circle {
  position: fixed;
  border: 1px solid #cf7fd1;
  z-index: 9999;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  right: 20px;
  bottom: 20px;
  box-shadow: 16px 20px 20px -11px rgba(0, 0, 0, 0.56);
  -webkit-box-shadow: 16px 20px 20px -11px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 16px 20px 20px -11px rgba(0, 0, 0, 0.56);
}

@mixin center($align) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $align;
}

@mixin center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Small devices
@mixin min-sm {
  @media (min-width: 35em) {
    @content;
  }
}

// Medium devices
@mixin min-md {
  @media (min-width: 55em) {
    @content;
  }
}

// Large devices
@mixin min-lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin min-xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

// Small devices
@mixin max-sm {
  @media (max-width: 35em) {
    @content;
  }
}

// Medium devices
@mixin max-md {
  @media (max-width: 55em) {
    @content;
  }
}

// Large devices
@mixin max-lg {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin max-xl {
  @media (max-width: #{$screen-xl-min}) {
    @content;
  }
}
