@use "../abstracts/" as a;

$spaces: (1, 2, 3, 4, 5);

@each $space in $spaces {
  .m-#{$space} {
    margin: #{$space}rem;
  }

  .my-#{$space} {
    margin: #{$space}rem 0;
  }

  .p-#{$space} {
    padding: #{$space}rem;
  }

  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}

.flex {
  display: flex;
  gap: 1rem;
}

.fa-w {
  color: greenyellow;
}

.fa-b {
  color: black;
}

.text-center {
  text-align: center;
}

.ff-main {
  font-family: a.$ff-head;
}

.bold {
  font-weight: 600;
}

.center {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.txt-right {
  text-align: right;
}

p {
  line-height: 2.4rem;
  text-align: start;
}
