@forward '../base/typography';

$clr-light: white;
$clr-dark:black;

$ff-head: 'NeutralFace', sans-serif;

$clr-main:rgb(113, 252, 33);
$clr-main-light:rgba(113, 252, 33, 0.534);
$clr-main-dark:rgb(79, 156, 34);

// $clr-main:rgb(204,160,29);
// $clr-main-light:rgba(204, 160, 29, 0.63);
// $clr-main-dark:rgb(61, 46, 2);


// Neptune
// #74ACB8

