@use '../abstracts/' as a;
footer {
  width: 100%;
  height: 100%;
  background-color: #cf7fd1;
  @include a.center-content;
}
.footer {
  padding: 1rem;
  width: 15rem;
  margin: 0 auto;
  border-left: 2px solid #403e3e;
  border-right: 2px solid #403e3e;
  p {
    font-family: a.$ff-head;
    text-align: center;
    color: #403e3e;
  }
  .icon-container {
    padding-bottom: 0;
  }
}
