@use "../abstracts/" as a;

header {
  width: 100%;
  height: 100vh;
  background-color: a.$clr-dark;
  color: a.$clr-light;
}
.circle {
  @include a.circle;
  background-color: black;
}
.arrow-up {
  position: relative;
  transform: rotate(135deg);
  color: #adff2f;
  width: 10px;
  top: 20px;
  aspect-ratio: 1;
  border-left: 10px solid;
  border-bottom: 10px solid;
  border-image-slice: 1;
  border-width: 1px;
  margin: 0 auto;
}
.h1-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh;
  @include a.center-content;
  div {
    padding-top: 1em;
    @include a.min-sm {
      display: flex;
    }
  }
  .h1-horizontal {
    position: absolute;
    text-transform: uppercase;
    font-family: a.$ff-head;
    letter-spacing: 0.5rem;
    font-size: 3em;
    .first-name > span::before {
      content: "ull";
      position: absolute;
      left: -5px;
      writing-mode: vertical-rl;
      text-orientation: upright;
      animation: tb-max 4s forwards;
    }
    .last-name > span::before {
      content: "tack";
      position: absolute;
      right: 100px;
      writing-mode: vertical-rl;
      text-orientation: upright;
      animation: tb-max 4s forwards;
    }

    @include a.max-sm {
      .first-name {
        position: relative;
      }
      .last-name {
        margin-left: 6rem;
        position: relative;
      }
      .first-name > span::before {
        content: "ull";
        position: absolute;
        top: 110px;
        left: -5px;
        writing-mode: vertical-rl;
        text-orientation: upright;
        animation: tb-min 4s forwards;
      }
      .last-name > span::before {
        content: "tack";
        position: absolute;
        top: 110px;
        left: 1px;
        writing-mode: vertical-rl;
        text-orientation: upright;
        animation: tb-min 4s forwards;
      }
    }
    span {
      font-size: 0.5em;
      transition: 1s ease-out;
    }
  }
  .sub-header {
    position: relative;
    top: 300px;
    letter-spacing: clamp(1rem, 5vw, 1.5rem);
    font-size: 0rem;
    font-weight: 600;
    color: white;
    animation: rise 4s ease-in-out 1s forwards;
    @include a.min-md {
      top: 200px;
      left: -100px;
    }
  }
}
@keyframes rise {
  from {
    font-size: 0;
  }
  to {
    font-size: 2rem;
  }
}

@keyframes tb-min {
  from {
    top: -999px;
  }
  to {
    top: 110px;
  }
}

@keyframes tb-max {
  from {
    top: -999px;
  }
  to {
    top: 150px;
  }
}
#tsparticles {
  width: 100vw;
  aspect-ratio: 1;
  position: fixed;
  z-index: -1;
  color: red;
}
