@use "../abstracts/" as a;

header {
  width: 100%;
  height: 100vh;
  background-color: a.$clr-dark;
  color: a.$clr-light;
}
.h1-container {
  position:relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  @include a.center-content;
  div {
    padding-top: 1em;
    @include a.min-sm {
      display: flex;
    }
  }
  .h1-horizontal {
    position: absolute;
    text-transform: uppercase;
    font-family: a.$ff-head;
    letter-spacing: 0.5rem;
    font-size: 3em;
    .first-name > span::before {
      content: "ull";
      position: absolute;
      left: -5px;
      writing-mode: vertical-rl;
      text-orientation: upright;
      animation: tb-max 4s forwards;
      color: a.$clr-main;
    }
    .last-name > span::before {
      content: "tack";
      position: absolute;
      right: 100px;
      writing-mode: vertical-rl;
      text-orientation: upright;
      animation: tb-max 4s forwards;
      color: a.$clr-main;
    }

    @include a.max-sm {
      .first-name {
        position: relative;
      }
      .last-name {
        margin-left: 6rem;
        position: relative;
      }
      .first-name > span::before {
        content: "ull";
        position: absolute;
        top: 110px;
        left: -5px;
        writing-mode: vertical-rl;
        text-orientation: upright;
        animation: tb-min 4s forwards;
        color: rgb(204,160,29);
        
      }
      .last-name > span::before {
        content: "tack";
        position: absolute;
        top: 110px;
        left: 1px;
        writing-mode: vertical-rl;
        text-orientation: upright;
        animation: tb-min 4s forwards;
        color: rgb(204,160,29);
      }
    }
    span {
      font-size: 0.5em;
      transition: 1s ease-out;
    }
  }
  .sub-header {
    position:relative;
    top: 300px;
    letter-spacing: 1.5rem;
    font-size: 0rem;
    font-weight: 600;
    animation: rise 4s ease-in-out 1s forwards;
    @include a.min-md {
      top: 200px;
      left:-100px;
    }
  }
}
@keyframes rise {
  from {
    font-size: 0;
  }
  to {
    font-size: 2rem;
  }
}

@keyframes tb-min {
  from {
    top: -999px;
  }
  to {
    top: 110px;
  }
}

@keyframes tb-max {
  from {
    top: -999px;
  }
  to {
    top: 150px;
  }
}
