@use "../abstracts/" as a;

.nav-container {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  align-items: center;
  justify-content: space-between;
  .logo {
    width: 3.2rem;
    aspect-ratio: 1;
    margin: 2rem;
    // background: -webkit-linear-gradient(45deg, #bf953f, #fcf6ba);
    border: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: -webkit-linear-gradient(#bf953f, #fcf6ba);
    color: a.$clr-light;
    @include a.center-content;
    &::after {
      content: "";
      width: 40px;
      height: 40px;
      position: absolute;
      border: 1px solid;
      border-image-slice: 1;
      border-width: 2px;
      border-image-source: -webkit-linear-gradient(#bf953f, #fcf6ba);
    }
    
    p {

      font-family: a.$ff-head;
      padding: 0.5rem;
      border-left: 2px solid black;
      border-right: 2px solid black;
    }
  }

  .mobile-nav-toggle {
    display: none;
    span {
      visibility: hidden;
    }
    @include a.max-sm {
      display: block;
    }
  }
  .menu-icon {
    cursor: pointer;
    z-index: 9999;
    position: fixed;
    right: 2rem;
    top: 2rem;
    padding: 1.2rem;
    .line {
      width: 2rem;
      height: 2px;
      margin: 5px 0;
      background: -webkit-linear-gradient(#bf953f, #fcf6ba);
    }
    .line2 {
      opacity: 0;
    }
  }
  .mobile-nav-toggle[aria-expanded="true"] {
    .line1 {
      transform: rotate(-45deg);
    }
    .line2 {
      opacity: 0;
    }
    .line3 {
      transform: rotate(45deg);
      margin-left: 0px;
    }
  }
}

.primary-navigation {
  backdrop-filter: blur(1rem);
  background: hsla(0 0% 0%/ 0.8);

  li {
    cursor: pointer;
    font-size: 1em;
    text-transform: uppercase;
    padding-block: 1rem;
    border: 1px solid transparent;

    &:hover {
      border-top: 1px solid a.$clr-light;
      border-bottom: 1px solid a.$clr-light;
    }
  }
  a {
    color: a.$clr-light;
    font-family: a.$ff-head;
    font-weight: 700;
    letter-spacing: 0.2rem;
    span {
      background: -webkit-linear-gradient(#bf953f, #fcf6ba);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  a > [aria-hidden="true"] {
    font-family: a.$ff-head, sans-serif;
    margin-inline-end: 0.75em;

    @media (min-width: 35em) and (max-width: 55em) {
      display: none;
    }
  }
  @include a.max-sm {
    position: fixed;
    z-index: 1000;
    //top-bottom-left-right.shorthand
    inset: 0 0 0 10%;
    flex-direction: column;
    padding: min(30vh, 10rem) 2em;
    gap: 2em;
    transition: transform 350ms ease-out;
    transform: translateX(100%);
  }
  @include a.min-sm {
    //only top and bottom
    padding-block: 0.5rem;
    //smallest 3rem middle growth factor and last max padding
    padding-inline: clamp(3rem, 10vw, 10rem);
    gap: clamp(1.5rem, 5vw, 3rem);
  }
}
.primary-navigation[data-visible="true"] {
  transform: translateX(0%);
}
//if a browser supports this property execute that code, if not, take default
@supports (backdrop-filter: blur(1rem)) {
  .primary-navigation {
    backdrop-filter: blur(1rem);
    background: hsl(0 0% 100% /0.1);
  }
}
