@use "../abstracts/" as a;

body{
    overflow-x: hidden;
}
section{
    background-color: black;
    color:white;
    width:100%;
    min-height:100vh;
    padding-block:10rem;
    .section-header{
        margin:0 auto;
        width:80%;
        border-top:1px solid white;
        border-bottom:1px solid white;
        font-family: a.$ff-head;
        text-align:center;
        @include a.center-content;
        padding:4rem;
        font-size: 1.5rem;
        font-weight:lighter;
        letter-spacing: .2em;
        
    }
    .flex-container{
        margin:0 auto;
         max-width:1500px;
         @include a.min-sm {
             display:flex;
             flex-flow:row wrap;
         }
     }
}

