@use "../abstracts/" as a;

html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
section {
  position: relative;
  background-color: black;
  color: white;
  width: 100%;
  min-height: 100vh;
  padding-top: 10rem;
  padding-bottom: 3rem;
  .section-header {
    background-color: a.$clr-dark;
    position: sticky;
    top: 0;
    z-index: 100;
    margin: 0 auto;
    width: 80%;
    border-top: 5px solid;
    border-bottom: 5px solid;
    border-right: none;
    border-left: none;
    border-image-slice: 1;
    border-width: 1px;
    font-family: a.$ff-head;
    text-align: center;
    i {
      cursor: pointer;
      position: relative;
      left: 2rem;
      bottom: 1rem;
      font-size: 1rem;
      padding-bottom: 0.2rem;
    }
    @include a.center-content;
    padding: 3rem;
    font-size: 1.5rem;
    font-weight: lighter;
    letter-spacing: 0.2em;

    @include a.min-sm {
      position: relative;
    }
    @include a.max-sm {
      width: 100%;
    }
  }
  .flex-container {
    margin: 0 auto;
    max-width: 1500px;
    @include a.min-sm {
      display: flex;
      flex-flow: row wrap;
    }
  }
}
