<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="shortcut icon" href="./images/logo.png" type="image/x-icon" />
    <script src="https://unpkg.com/htmx.org"></script>
    <script type="module" src="./nav.ts"></script>
  </head>
  <body>
    <div id="tsparticles"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tsparticles/1.18.11/tsparticles.min.js"></script>
    <script type="module" src="./particles.js"></script>
    <header
      id="home"
      hx-get="animation.html"
      hx-trigger="load"
      hx-target="this"
      hx-swap="innerHTML"
    ></header>
    <main
      hx-get="main.html"
      hx-trigger="load"
      hx-target="this"
      hx-swap="innerHTML"
    ></main>
    <footer
      hx-get="footer.html"
      hx-trigger="load"
      hx-target="this"
      hx-swap="innerHTML"
    ></footer>
  </body>
</html>
